<div id="left-swap-menu">
    <a href="">Продукты Е-Паблиш</a>
    <ul>
        <li class="active">
            <a href="">
                <span class="img"><img src="img/m-1.png" alt=""></span><span>Конструктор сайтов Е-Publish</span>
            </a>
        </li>
        <li><a href="">
            <span class="img">
            <img src="img/m-2.png" alt="">
            </span><span>Конструктор портфолио</span>
        </a></li>
        <li><a href="">
            <span class="img">
                <img src="img/m-3.png" alt="">
            </span><span>Прием обращений граждан на вашем сайте</span>
        </a></li>
        <li><a href="">
            <span class="img">
                <img src="img/m-4.png" alt="">
            </span><span>Портфолио класса</span>
        </a></li>
        <li><a href="">
            <span class="img">
                <img src="img/m-5.png" alt="">
            </span><span>Информационная безопасность</span>
        </a></li>
        <li><a href="">
            <span class="img">
                <img src="img/m-6.png" alt="">
            </span><span>PHP-Хостинг</span>
        </a></li>
        <li><a href="">
            <span class="img">
                <img src="img/m-7.png" alt="">
            </span><span>Виртуальная машина</span>
        </a></li>
    </ul>
</div>







