<ul>
    <li>
        <a href="">Продукты </a>
        <ul>
            <li><a href="">Конструктор сайтов Е-Publish</a></li>
            <li><a href="">Конструктор сайтов Е-Publish</a></li>
            <li><a href="">Конструктор сайтов Е-Publish</a></li>
            <li><a href="">Конструктор сайтов Е-Publish</a></li>
        </ul>
    </li>
    <li>
        <a href="">Помощь</a>
        <ul>
            <li><a href="">Руководство</a></li>
            <li><a href="">Часто задаваемые вопросы</a></li>
            <li><a href="">Государственные требования к сайтам</a></li>
            <li><a href="">Как стать пользователем</a></li>
            <li><a href="">Школьный сайт</a></li>
        </ul>
    </li>
    <li><a href="">Документы</a></li>
    <li><a href="">Обучение</a></li>
    <li><a href="">Виртуальный кабинет</a></li>
</ul>