<div id="mobile-shadow"></div>
<div id="mobile-menu">
    <a class="close_menu"></a>
    <ul>
        <li>
            <a href="">Продукты </a>
            <ul>
                <li><a href="">Конструктор сайтов Е-Publish</a></li>
                <li><a href="">Конструктор сайтов Е-Publish</a></li>
                <li><a href="">Конструктор сайтов Е-Publish</a></li>
                <li><a href="">Конструктор сайтов Е-Publish</a></li>
            </ul>
        </li>
        <li><a href="">Помощь</a></li>
        <li><a href="">Документы</a></li>
        <li><a href="">Обучение</a></li>
        <li><a href="">Виртуальный кабинет</a></li>
    </ul>
</div>