.homepage-content {
    padding-bottom: 75px;
}

.homepage-content-block {
    margin-right: -3%;

    .hcb-top {
        margin-right: 3%;
    }
}

.hcb-top {
    position: relative;
    display: block;

    &:before {
        position: absolute;
        top: 50%;
        left: 0;
        width: 100%;
        height: 2px;
        margin-top: -1px;
        content: '';
        background-color: $color1;
    }

    &__left {
        position: relative;
        vertical-align: top;

        .img {
            float: left;
            width: 70px;
            height: 66px;
            padding-right: 12px;
            vertical-align: middle;
            background-color: #fff;
            line-height: 66px;

            img {
                display: inline-block;
                max-width: 100%;
                max-height: 100%;
                vertical-align: middle;
            }
        }

        img,
        h2 {
            vertical-align: middle;
            white-space: normal;
        }
    }


}

.hcb-top-title {
    position: relative;
    display: flex;
    overflow: hidden;
    align-items: center;
    min-height: 66px;
    text-transform: uppercase;
    color: #33333d;
    font-weight: 400;
    font-size: 24px;
    line-height: 32px;

    span {
        padding-right: 20px;
        background-color: #fff;
    }
}


.hmp-product-card {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin-top: 15px;
    margin-right: 3%;
    margin-bottom: 35px;
    padding: 38px 57px 54px 40px;
    color: #5d5d68;
    border: 1px solid #d9d9d9;
    border-radius: 15px;
    background-color: #ffffff;
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;

    &--half {
        float: left;
        width: 47%;

    }

    &--blue {}
}

.hmp-product-card {
    &__title {
        text-transform: uppercase;
        color: #33333d;
        font-size: 20px;
        line-height: 23px;
    }

    &__type {
        margin-bottom: 14px;
        color: $color1;
        font-size: 20px;
        line-height: 23px;
    }

    &__type2 {
        margin-top: 14px;
        margin-bottom: 10px;
        color: #5d5d68;
        font-weight: bold;
    }

    iframe {
        width: 315px;
        max-width: 100%;
        height: 177px;
    }

    p {}

    ul {
        list-style: none;

        li {
            position: relative;
            margin-bottom: 2px;
            padding-left: 15px;

            &:before {
                position: absolute;
                top: 9px;
                left: 0;
                width: 5px;
                height: 5px;
                content: '';
                -webkit-border-radius: 3px;
                -moz-border-radius: 3px;
                border-radius: 3px;
                background-color: $color2;
            }
        }
    }

    &-bottom {
        margin-top: 25px;
    }

    br {}

    a {
        text-decoration: underline;
        color: #3c5adc;

        &:hover {
            text-decoration: none;
        }

        &:active {}

        &:focus {}
    }

    .btn {
        display: inline-block;
        width: 200px;
        height: 50px;
        margin-right: 20px;
        text-align: center;
        vertical-align: top;
        text-decoration: none;
        color: #33333d;
        -webkit-border-radius: 25px;
        -moz-border-radius: 25px;
        border-radius: 25px;
        background-color: $color2;
        font-weight: 500;
        font-size: 18px;
        line-height: 50px;

        &:hover {}

        &:active {}

        &:focus {}
    }
}

.hmp-product-card-bottom {
    &__price {
        position: relative;
        display: inline-block;
        vertical-align: top;
        color: #33333d;
        font-size: 20px;
        line-height: 50px;

        span {
            color: #5d5d68;
            font-size: 16px;
        }
    }

}






.hmp-product-card {
    &--banner {
        padding: 0;
        border: 0;
        padding-bottom: 65px;
        margin-bottom: 0;
    }

}

.homepage-banner-slider {
    &__slide {
        img{
            width: 100%;
        }
    }

    .slick-arrow {
        position: absolute;
        bottom: -50px;
        display: block;
        box-sizing: border-box;
        width: 35px;
        height: 35px;
        cursor: pointer;
        color: rgba(0, 0, 0, 0);
        border: 1px solid #b3b3b3;
        border-radius: 5px;
        background-color: #ffffff;
        background-repeat: no-repeat;
        background-position: center center;
        font-size: 0;
        line-height: 0;

        &.slick-next {
            right: 0;
            background-image: url(../img/next-arr.png);
        }

        &.slick-prev {
            right: 44px;
            background-image: url(../img/prev-arr.png);
        }

        &.slick-disabled {
            display: none;
        }
        &:hover {
            background-color: #f0f6ff;
        }
    }

    .slick-dots {
        list-style: none;
        position: absolute;
        right: 91px;
        bottom: -40px;

        li {
            display: inline-block;
            width: 14px;
            height: 14px;
            border-radius: 50%;
            border: 1px solid #bfbfbf;
            background-color: #ffffff;
            padding: 0;
            margin: 0 10px;
            cursor: pointer;
            box-sizing: border-box;

            &:before {
                display: none;
            }

            button {
                display: none;
            }

            &.slick-active {
                background-color: #447dda;
                border: 0;
                pointer-events: none;
            }
            &:hover {
                background-color: #447dda;
                border: 0;
            }

        }
    }
}

@media screen and (max-width: 1400px) {
    .homepage-content-block, .homepage-content-block .hcb-top, .hmp-product-card{
        margin-right: 0;
    }
    .hmp-product-card--half {
        float: none;
        width: auto;
    }
    .hmp-product-card--banner{
        max-width: 525px;
        width: 100%;
        margin-left: auto;
        margin-right: auto;
    }
    .homepage-content-block__top{
        display: flex;
        flex-direction: column;
    }
    .homepage-content-block__top .hmp-product-card{
        order: 2;
    }
    .homepage-content-block__top .hmp-product-card--banner{
        order: 1;
    }
}

@media screen and (max-width: 1000px) {
    .homepage-content {
        padding-bottom: 25px;
    }
}

@media screen and (max-width: 700px) {
    .hmp-product-card {
        padding: 25px;
    }
    .hmp-product-card--banner{
        padding: 0;
        padding-bottom: 65px;
    }
    .hcb-top:before {
        display: none;
    }

    .hmp-product-card__title,
    .hmp-product-card__type {
        font-size: 17px;
        line-height: 20px;
    }

    .hcb-top__left .img {
        width: 52px;
        height: 50px;
        line-height: 50px;
    }

    .hcb-top-title {
        min-height: 50px;
        font-size: 18px;
        line-height: 23px;
    }
}
