@media screen and (max-width: 1400px){
  .triple-row >li{
    width: 47%;
  }
  .homepage-content-block .homepage-content-block__top > ul{
    display: flex !important;
    flex-direction: column;
  }
}

@media screen and (max-width: 1000px){
  .left_side_bar, .right_side_bar{
    display: none;
  }
  #menu_middle, #header .low_see, #footer_block #menu_bottom_border{
    display: none;
  }
  .menu_row .mobile-icons{
    display: block;
    margin-left: -10px;
  }
  #footer_block #our_out #our table, #footer_block #our_out #our table tbody, #footer_block #our_out #our table tbody tr, #footer_block #our_out #our table tbody tr td{
    display: block;
    text-align: center;
  }
  #footer_block #our_out #our table td:nth-child(2){
    width: auto;
    text-align: center;
  }
  #footer_block{
    padding-top: 20px;
  }
  #search{
    max-width: 225px;
  }
  #search .search_t{
    width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  #header .logo{
    float: none;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 15px;
    display: block;
  }
  #header .slogan{
    text-align: center;
    font-size: 12px;
    line-height: 15px;
  }
  .container{
    max-width: 94%;
  }
  #mobile-menu{
    display: block;
  }
  #menu_top{
    display: none;
  }


  #text_div .message_list2{
    .message_body{
      padding: 0 0 14px 0px!important;
      table{
        display: block;
        tr{
          display: block;
          &:first-child{
            display: none;
          }
        }
        td{
          display: block;
          text-align: left;
        }
      }
    }
  }
}

@media screen and (max-width: 700px){
  .triple-row, .triple-row .hcb-top{
    margin-right: 0;
  }
  .triple-row >li{
    width: 100%;
  }
  .img-rows-block{
    .img-row{
      .img-block{
        width: 100%;
        float: none !important;
        margin: 0 0 10px !important;
        +.block,+li{
          width: 100%;
          text-align: center;
          margin: 0 !important;
          float: none;
        }
      }
    }
  }
  .comment_form .row{
    margin-right: 0;
  }
  .comment_form .row .item{
    margin-right: 0;
    width: auto;
    display: block;
  }
}

@media screen and (max-width: 400px){
  iframe, .double-row .block iframe{
    max-height: 230px;
  }
}

@media screen and (max-width: 1400px) and (min-width: 1001px){
  .comment_form .row{
    margin-right: 0;
  }
  .comment_form .row .item{
    margin-right: 0;
    width: auto;
    display: block;
  }
}